body {
  margin: 0;
  background-color:#e3e4e5
}

* {
  font-family: 'Signika Negative', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 71.5px;
    text-decoration: none;
}

li a:hover {
    background-color: #4c4c4c;
}

.active {
    background-color: #1c8c8c;
}

.layout {
  padding: 0px;
  margin: 0px;
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #1c8c8c;
}

.c1 {
  padding: 0px;
  margin: 0px;
  order: 1
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.c2 {
  padding: 25px;
  margin: 0px;
  order: 2
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.c2 img {
  width: 100%;
}

.buttons {
  padding: 0px;
  margin: 0px;
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.biobutton {
  padding: 2px;
  margin: 2px;
  order: 1
  flex: 1 1 auto;
  align-self: center;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.cvbutton {
  padding: 2px;
  margin: 2px;
  order: 1
  flex: 1 1 auto;
  align-self: center;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.biobutton img {
  margin-left: 70px;
  margin-right: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.biobutton img:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.cvbutton img {
  margin-left: 70px;
  margin-right: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cvbutton img:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.contactbutton img {
  margin-left: 70px;
  margin-right: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contactbutton img:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.contactbutton {
  padding: 2px;
  margin: 2px;
  order: 1
  flex: 1 1 auto;
  align-self: center;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.contact-form {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #1c8c8c;
}

.left-f {
  padding: 0px;
  margin: 0px;
  order: 1
  flex: 0 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.form-placeholder {
  padding: 25px;
  margin: 0px;
  order: 2
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.right-f {
  padding: 25px;
  margin: 0px;
  order: 2
  flex: 0 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}

.biography {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #1c8c8c;
}

.biocontent {
  padding: 25px;
  margin: 0px;
  order: 2
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  background: #dddd88;
  background-color: #e2e2e2;
}
